* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #fff;
    border-radius: 10px;
    width: 800px;
    max-width: 100%;
    min-height: 480px;
    position: relative;
    overflow: hidden;
  }
  
  /* FORM */
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transition: transform 0.6s ease;
  }
  
  .sign-in {
    left: 0;
    z-index: 2;
  }
  
  .sign-up {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  
  .container.active .sign-in {
    transform: translateX(100%);
  }
  
  .container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
  }
  
  form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  form input {
    background: #eee;
    border: none;
    padding: 12px;
    margin: 8px 0;
    width: 100%;
  }
  
  form button {
    margin-top: 15px;
    padding: 12px 45px;
    border: none;
    background: #512da8;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
  }
  
  /* OVERLAY */
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease;
    z-index: 100;
  }
  
  .container.active .overlay-container {
    transform: translateX(-100%);
  }
  
  .overlay {
    background: linear-gradient(to right, #512da8, #673ab7);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease;
  }
  
  .container.active .overlay {
    transform: translateX(50%);
  }
  
  .overlay-panel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
  }
  
  .overlay-left {
    transform: translateX(-20%);
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .ghost {
    background: transparent;
    border: 1px solid #fff;
    height:40px;
    width:100px;
    border-radius: 20px;
    color: white;
  }
  